[run]
source = FairLangProc

omit =
    */__init__.py
    FairLangProc/datasets/Fair-LLM-Benchmark

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    def __repr__
    def __str__
